%% The name of the package
{package_name, "dog"}.

{package_install_name, "dog"}.
{vendor_url, "https://republicwireless.com"}.
{vendor_name, "Republicwireless"}.
{vendor_contact_name, "dgulino AT republicwireless DOT com"}.
{package_sortdesc, "Dog agent"}.
{package_desc, "Dog agent to manage iptables firewall"}.

%% The details of the package author
{package_author_name, "Drew Gulino"}.
{package_author_email, "dgulino AT republicwireless DOT com"}.

%% The user under which the service is going to run
{package_install_user, "dog"}.
{package_install_user_uid, "10611"}.
{package_install_user_gid, "10611"}.
{package_install_user_desc, "dog user"}.

%% Package description
{package_shortdesc, "Example erlang app"}.
{package_desc, "This is an dog Erlang application, packaged using pkgx."}.

%% License and copyright info for the package metadata
{license_type, "MIT"}.
{copyright, "2019 Republicwireless, Inc."}.

{env, "qa"}.
{package_depends, "iptables (>= 1.6.0), iptables-persistent (>= 1.0.4), ipset (>= 6.29)"}.
