{erl_opts, [debug_info, nowarn_export_all]}.
{deps, [
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.8.3"}}},
    {hackney, ".*", {git, "https://github.com/benoitc/hackney.git", {tag, "1.18.1"}}},
    {base16, {git, "https://github.com/goj/base16.git", {tag, "1.0.0"}}},
    {erlexec, "~> 1.0"},
    {uuid, "2.0.0", {pkg, uuid_erl}},
    {erldocker, ".*", {git, "https://github.com/Phonebooth/erldocker.git", {branch, "feature/erlang_24"}}},
    {turtle, {git, "https://github.com/relaypro-open/turtle.git", {branch, "feature/erlang_24"}}},
    {flatlog, {git, "https://github.com/ferd/flatlog.git", {tag, "v0.1.2"}}},
    {jsn, "2.1.4"},
    {bbmustache, "1.11.0"}
]}.

{minimum_otp_vsn, "23.0"}.

{escript_emu_args, "%%! -escript main dog\n -config /opt/dog/config/sys.config -home /home/dog -boot_var ERTS_LIB_DIR /opt/dog/_build/default/lib"}.

{relx, [
        {release, 
          {dog, 
           {cmd, "scripts/git_hash.sh"} %% relflow-release-version-marker
          }, [dog]},
        {dev_mode, false},
        {sys_config, "config/sys.config"},
        {include_erts, true},
        {extended_start_script, true},
        {extended_start_script_hooks, [
          {post_start, [
            {pid, "/var/run/dog/dog.pid"}
          ]}
        ]},
        {overlay, [
            {mkdir, "./log"},
            {mkdir, "./queuejournal"},
            {copy, "dog_start.sh", "./dog_start.sh"},
            {copy, "dog_stop.sh", "./dog_stop.sh"},
            {mkdir, "./scripts"},
            {copy, "scripts/erl", "./scripts/"},
            {copy, "scripts/hashes.escript", "./scripts/"},
            {copy, "scripts/expand_ipsets.exs", "./scripts/"},
            {copy, "scripts/cleanup.sh", "./scripts/"},
            {copy, "scripts/ipset_diff.sh", "./scripts/"},
            {mkdir, "./priv"},
            {copy, "priv/dog.service", "./priv/"}
        ]}
    ]
}.


{profiles, [
    {'api.pro', [
        {erl_opts, [debug_info]},
        {relx, [
            {dev_mode, false},
            {include_erts, true},
            {system_libs, true},
            {sys_config, "config/sys.config.etc"}
        ]}
    ]},
    {'api.qa', [
        {erl_opts, [debug_info]},
        {relx, [
            {dev_mode, false},
            {include_erts, true},
            {system_libs, true},
            {sys_config, "config/sys.config.etc"}
        ]}
    ]},
    {box, [
	      {overrides, [
	      %% For all apps:
	          {del, [{erl_opts, [warnings_as_errors]}]}
	      ]},
        {relx, [
            {dev_mode, false},
            {extended_start_script, true},
            {sys_config, "config/sys.config.box"},
            {include_erts, true}
        ]}
    ]},
    {local, [
        {erl_opts, [debug_info]},
        {relx, [
            {dev_mode, false},
            {include_erts, true},
            {system_libs, false},
            {sys_config, "config/local.sys.config"}
        ]}
    ]},
    {mob_qa, [
        {erl_opts, [debug_info]},
        {relx, [
            {dev_mode, false},
            {include_erts, true},
            {system_libs, true},
            {sys_config, "config/sys.config.etc"}
        ]}
    ]},
    {mob_pro, [
        {erl_opts, [debug_info]},
        {relx, [
            {dev_mode, false},
            {include_erts, true},
            {system_libs, true},
            {sys_config, "config/sys.config.etc"}
        ]}
    ]},
    {pro, [
        {erl_opts, [debug_info]},
        {relx, [
            {dev_mode, false},
            {include_erts, true},
            {system_libs, true},
            {sys_config, "config/sys.config.etc"}
        ]}
    ]},
    {qa, [
        {erl_opts, [debug_info]},
        {relx, [
            {dev_mode, false},
            {include_erts, true},
            {system_libs, false},
            {sys_config, "config/sys.config.etc"}
        ]}
    ]},
    {'stage.qa', [
        {erl_opts, [debug_info]},
        {relx, [
            {dev_mode, false},
            {include_erts, true},
            {system_libs, true},
            {sys_config, "config/sys.config.etc"}
        ]}
    ]},
    {test, [{deps, [
        jsx,
        meck,
        {liet, ".*", {git, "https://github.com/relaypro-open/liet.git", {branch, "main"}}}
    ]}]},
    {'x.pro', [
        {erl_opts, [debug_info]},
        {relx, [
            {dev_mode, false},
            {include_erts, true},
            {system_libs, true},
            {sys_config, "config/sys.config.etc"}
        ]}
    ]},
    {'x.qa', [
        {erl_opts, [debug_info]},
        {relx, [
            {dev_mode, false},
            {include_erts, true},
            {system_libs, true},
            {sys_config, "config/sys.config.etc"}
        ]}
    ]},
    {local_docker, [
	      {overrides, [
	      %% For all apps:
	          {del, [{erl_opts, [warnings_as_errors]}]}
	      ]},
        {relx, [
            {dev_mode, false},
            {extended_start_script, true},
            {sys_config, "config/sys.config.etc"},
            {include_erts, true}
        ]}
    ]}
]}.

{plugins, [
    {relflow, ".*", {git, "https://github.com/RJ/relflow.git", {branch, "master"}}},
    rebar3_run,
    rebar3_hex
]}.

%{eunit_opts, [verbose]}.
