[Unit]
Description=dog
After=network-online.target
Requires=network-online.target

[Service]
AmbientCapabilities=CAP_DAC_READ_SEARCH CAP_NET_ADMIN CAP_NET_RAW CAP_SETUID CAP_KILL CAP_SYS_NICE
User=dog
Group=dog
Type=simple
ExecStart=/opt/dog/dog_start.sh
WorkingDirectory=/opt/dog
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
