{erl_opts, [no_debug_info]}.
{deps, [elli]}.

{escript_incl_apps,
 [ec2_mock]}.
{escript_main_app, ec2_mock}.
{escript_name, ec2_mock}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.

{plugins, [
            rebar3_run,
            rebar3_auto
            ]}.

{relx, [{release, {ec2_mock, "1.0"},
         [ec2_mock]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.
