[
    {dog, [
        {version, "7342b0908e4dbf8daf70ccf3f18422c7d654c504"},
        {enforcing, true},
        {use_ipsets, true}
    ]},
    {kernel,[
     {inet_dist_use_interface,{127,0,0,1}},
      {logger_level, all},
      {logger, [
  
        {handler, default, logger_std_h,
        #{
          level => error,
          formatter => {flatlog,
                          #{max_depth => 3,
                            term_depth => 50,
                            colored => true
        }}}},
        {handler, disk_log_info, logger_disk_log_h,
          #{config => #{
                file => "/var/log/dog/info.log",
                type => wrap,
                max_no_files => 5,
                max_no_bytes => 10000000
            },
            level => info,
            formatter => {flatlog, #{
              map_depth => 3,
              term_depth => 50
            }}
          }
        },

        %%% Disk logger for errors
        {
          handler, disk_log_error, logger_disk_log_h,
          #{config => #{
                file => "/var/log/dog/error.log",
                type => wrap,
                max_no_files => 5,
                max_no_bytes => 10000000
            },
            level => error,
            formatter => {
              flatlog, #{
                map_depth => 3,
                term_depth => 50
              }
            }
          }
        }
    ]
    }]},
    {sync, [
        {growl, none},
        {log, [all]},
        {non_descendants, fix},
        {executable, auto},
        {whitelisted_modules, []},
        {excluded_modules, []}
    ]},
    {lager, [
        {handlers, [
            {lager_file_backend, [{file, "/var/log/dog/lager.log"}, {level, info }]}
        ]},
        {crash_log, "/var/log/dog/crash.log"},
        {tracefiles, [
        	    ]},
        {async_threshold, 10000},
        {sieve_threshold, 5000},
        {sieve_window, 100},
        {colored, true}
    ]},
    {turtle, [
        {connection_config, [
            #{
                conn_name => default,

                username => "{{ lookup('credstash', 'dog>rabbitmq_username', table='credential-store_mob_pro', region='us-east-1') }}",
                password => "{{ lookup('credstash', 'dog>rabbitmq_password', table='credential-store_mob_pro', region='us-east-1') }}",
                virtual_host => "dog",
                ssl_options => [
                               {cacertfile, "/var/consul/data/pki/certs/ca.crt"},
                               {certfile, "/var/consul/data/pki/certs/server.crt"},
                               {keyfile, "/var/consul/data/pki/private/server.key"},
                               {verify, verify_peer},
                               {server_name_indication, disable},
                               {fail_if_no_peer_cert, true}
                              ],
                deadline => 300000,
                connections => [
                    {main, [
                      {"dog-broker-pro.nocell.io", 5673 } 
                    ]}
                ]
            }
        ]
    }
    ]},
    {erldocker, [
        {docker_http, <<"http+unix://%2Fvar%2Frun%2Fdocker.sock">>}
    ]},
    {erlexec, [
        {user, "dog"}, {limit_users, ["root","dog"]}
    ]}
].
