[
    {kernel,[{inet_dist_use_interface,{127,0,0,1}}]},
    {dog, [
        {version, "7342b0908e4dbf8daf70ccf3f18422c7d654c504"},
        {enforcing, true},
        {use_ipsets, true}
    ]},
    {sync, [
        {growl, none},
        {log, [all]},
        {non_descendants, fix},
        {executable, auto},
        {whitelisted_modules, []},
        {excluded_modules, []}
    ]},
    {lager, [
        {handlers, [
            {lager_file_backend, [{file, "/var/log/dog/error.log"}, {level, error}]},
            {lager_file_backend, [{file, "/var/log/dog/console.log"}, {level, info }]}
        ]},
        {crash_log, "/var/log/dog/crash.log"},
        {tracefiles, [
        	    ]},
        {async_threshold, 10000},
        {sieve_threshold, 5000},
        {sieve_window, 100},
        {colored, true}
    ]},
    {turtle, [
        {connection_config, [
            #{
                conn_name => default,

                username => "{{ lookup('credstash', 'dog>rabbitmq_username', table='credential-store_mob_qa', region='us-east-1') }}",
                password => "{{ lookup('credstash', 'dog>rabbitmq_password', table='credential-store_mob_qa', region='us-east-1') }}",
                virtual_host => "dog",
                ssl_options => [
                               {cacertfile, "/var/consul/data/pki/certs/ca.crt"},
                               {certfile, "/var/consul/data/pki/certs/server.crt"},
                               {keyfile, "/var/consul/data/pki/private/server.key"},
                               {verify, verify_peer},
                               {server_name_indication, disable},
                               {fail_if_no_peer_cert, true}
                              ],
                deadline => 300000,
                connections => [
                    {main, [
                      {"dog-qa-aws01.phoneboothdev.info", 5673 } 
                    ]}
                ]
            }
        ]
    }
    ]},
    {erldocker, [
        {docker_http, <<"http+unix://%2Fvar%2Frun%2Fdocker.sock">>}
    ]},
    {erlexec, [
        root, {user, "dog"}, {limit_users, ["root","dog"]}
    ]}
].
